{% layout 'layout.liquid' %}

{% block content %}
<div class="container-md" class="new-fruit">

<form action="/fruits" method="POST">
    <fieldset>
        <legend>Create a New Fruit</legend>

        <label class="form-label">Name:</label>
        <input class="form-control" type="text" name="name" placeholder="Enter name">

        <label class="form-label">Color:</label>
        <input class="form-control" type="text" name="color" placeholder="Enter color">

        <label class="form-label">Ripe: </label>
        <input class="form-check-input" type="checkbox" name="readyToEat">
<br>
        <input type="submit" value="Create New Fruit" class="btn btn-success">
    </fieldset>
</form>

</div>
{% endblock %}