{% layout 'layout.liquid' %}

{% block content %}
<form action="/fruits" method="POST">
    <input type="text" name="name" placeholder="Enter name">
    <input type="text" name="color" placeholder="Enter color">
    <input type="checkbox" name="readyToEat" placeholder="Is it ripe?">
    <input type="submit" value="Create New Fruit">

</form>
{% endblock %}